
.sb_d3_container {
  justify-content: center;
  display: flex;
}

.sb_d3_container button {
  margin: 0 1rem;
  width: 12rem;
  background-color: rgb(11, 67, 124);
}

#sb_d3_explanation {
 border: 1px solid purple;
 margin-top: 1rem;
//  top: 75px;
 width: 100%;
 text-align: center;
}

#sb_d3_percentage {
  font-size: 2.5em;
}

#sb_d3_fileNames {
  padding: 5px 100px 50px 100px;
  color: blue;
}

.sb_d3_box svg {
}