

.sb_d3_container
  // position: absolute
  // height: 600px
  // width: 80%
  display: flex


.sb_d3_box
  border: 1px solid red

#sb_d3_explanation
  position: relative
  bottom: 500px
  left: 380px
  width: 140px
  text-align: center

#sb_d3_percentage
  font-size: 2.5em

#sb_d3_fileNames
 padding: 5px 100px 50px 100px
 color: blue

.main_page
    min-width: 800px
    min-height: 700px
    padding: 20px
    margin: 10px
    border: 6px dashed lightgrey
    border-radius: 10px
    background-color: #f4f4f4
    justify-content: center
    align-items:center
    display: flex
    flex-direction: column

.cloud_upload
    height: 30%
    width: 30%
    align-self: center

.header
    display: block
    align-self: center

.parent
    justify-content: center
    align-items: center
    display: flex
    flex-direction: column
