/* :root {
    --primary-color: #42b983;
} */

/*
 * Global CSS goes here, it requires to use :global before each style
 */

html {
    /* padding: 20px;
    margin: 30px;
    line-height: 1.3em;
    border: 2px dashed lightgrey;
    border-radius: 10px;
    box-shadow: 0 0 0 0, 1px 1px 6px 4px rgba(10, 10, 0, 0.2); */
}

:global html {
    height: 100%;
}

:global #app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #2c3e50;
    /* max-width: 600px; */
    /* font-family: Source Sans Pro, Helvetica, sans-serif;
    text-align: center; */
}

:global #app p {
    text-align: justify;
}

:global .hello {
    color: var(--primary-color);
}

.card {
    margin: 2rem;
    min-width: 800px;
    background-color: purple;
    color: white;
    display: block
}

.card-hide {
    display: none;
}

.user-prompt {
    margin: 1rem;
    padding: 1rem;
    background-color: green;
}

.loading {
    font-size: 3rem;
}

::-webkit-scrollbar {
    width: 20px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: darkgrey;
}

div.header {
    display: inline-block;
}

#wrapper {
    display: inline-block;
}

.bee_logo_name {
    /* display: inline-block; */
}

.drop_div {
    min-width: 600px;
    min-height: 400px;
    padding: 20px;
    margin: 10px;
    line-height: 1.3em;
    border: 2px dashed lightgrey;
    border-radius: 20px;
    box-shadow: 0 0 0 0, 1px 1px 6px 4px rgba(10, 10, 0, 0.2);
}

.modal {
    min-width: 400px;
    min-height: 600px;
}