/* :root {
    --primary-color: #42b983;
} */

/*
 * Global CSS goes here, it requires to use :global before each style
 */


:global html {
    height: 100%;
}

:global #app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #2c3e50;
    /* max-width: 600px; */
    /* font-family: Source Sans Pro, Helvetica, sans-serif;
    text-align: center; */
}

:global #app p {
    text-align: justify;
}

:global .hello {
    color: var(--primary-color);
}

.card {
    margin: 2rem;
    min-width: 800px;
    background-color: purple;
    color: white;
    display: block
}

.card-hide {
    display: none;
}

.user-prompt {
    margin: 1rem;
    padding: 1rem;
    background-color: green;
}

.loading {
    font-size: 3rem;
}

::-webkit-scrollbar {
    width: 20px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: darkgrey;
}

div.header {
    display: inline-block;
}

#wrapper {
    display: inline-block;
}

.drop_div {
    min-width: 600px;
    min-height: 400px;
    padding: 20px;
    margin: 10px;
    line-height: 1.3em;
    border: 2px dashed lightgrey;
    border-radius: 20px;
    box-shadow: 0 0 0 0, 1px 1px 6px 4px rgba(10, 10, 0, 0.2);
}

.modal {
    min-width: 400px;
    min-height: 600px;
}


.drop-zone-hide{
    display: none;
}

.drop-zone-show{
    position: fixed;
    display: flex;
    background: rgba(17, 109, 210, 0.8);
    width: 100%;
    height: 100%;
    z-index: 200;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}
    
.drop_here_txt{
    color: #ffffff;
}

.sb_d3_container{
    display: flex;
}


.sb_d3_box{
    border: 1px solid red;
}

#sb_d3_explanation{
    position: relative;
    bottom: 500px;
    left: 380px;
    width: 140px;
    text-align: center;
}

#sb_d3_percentage{
    font-size: 2.5em;

}

#sb_d3_fileNames{
    padding: 5px 100px 50px 100px;
    color: blue;
}

.main_page{
    min-width: 800px;
    min-height: 700px;
    padding: 20px;
    margin: 10px;
    border: 6px dashed lightgrey;
    border-radius: 10px;
    background-color: #f4f4f4;
    justify-content: center;
    align-items:center;
    display: flex;
    flex-direction: column;
}

.cloud_upload{
    height: 30%;
    width: 30%;
    align-self: center;
}

.header{
    display: block;
    align-self: center;
}

.parent{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
